{% set ou = require['original_target'] %}
{% set domain_dn = 'DC=' + fqdn|replace('.', ',DC=') %}
# Link writable GPO {{target.name}} to OU {{ou.name}}
# gPLink is multi-value and order-sensitive; verify effective precedence before adding a new link
{% set key = 'gPLink' %}
{% set target_name = ou.name %}
{% set add_value = '[LDAP://CN=' + target.gpo_dirname_id + ',CN=Policies,CN=System,' + domain_dn + ';0]' %}
{% set write_value = None %}
{% set save_in_var = '' %}
{% include '_Attr.jinja2' with context %}
